name: Composite CMake
inputs:
  cmake_preset:
    required: true
    type: string
  extra_cmake_build_args:
    required: false
    type: string
    default: ''
  extra_cmake_configure_args:
    required: false
    type: string
    default: ''
  extra_ctest_args:
    required: false
    type: string
    default: ''

runs:
  using: composite
  steps:
    - name: Configure CMake
      run: cmake --preset ${{ inputs.cmake_preset }} ${{ inputs.extra_cmake_configure_args }} -DCI_TESTING:BOOL=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -Werror=dev 
      shell: ${{ env.RUNNER_OS == 'Windows' && 'pwsh' || 'bash' }}

    - name: Build (with preset)
      run: cmake --build --preset ${{ inputs.cmake_preset }} ${{ inputs.extra_cmake_build_args }}
      shell: ${{ env.RUNNER_OS == 'Windows' && 'pwsh' || 'bash' }}

    - name: Test (with preset)
      run: ctest --preset ${{ inputs.cmake_preset }} ${{ inputs.extra_ctest_args }} --output-on-failure --no-compress-output
      shell: ${{ env.RUNNER_OS == 'Windows' && 'pwsh' || 'bash' }}

