name: Composite CMake
inputs:
  cmake_preset:
    required: true
    type: string
  extra_cmake_args:
    required: false
    type: string
    default: ''

runs:
  using: composite
  steps:
    - name: Configure CMake
      run: cmake --preset ${{ inputs.cmake_preset }} -DCI_TESTING:BOOL=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -Werror=dev ${{ inputs.extra_cmake_args }}
      shell: bash

    - name: Build (with preset)
      run: cmake --build --preset ${{ inputs.cmake_preset }}
      shell: bash

    - name: Test (with preset)
      run: ctest --preset ${{ inputs.cmake_preset }} --output-on-failure --no-compress-output
      shell: pwsh

