name: Composite CMake
inputs:
  cmake_preset:
    required: false
    type: string
    description: 'CMake preset name to use (if provided, other cmake_* inputs are ignored)'
  cmake_generator:
    required: false
    type: string
    default: 'Unix Makefiles'
  cmake_build_type:
    required: false
    type: string
    default: ''
  cmake_cxx_compiler:
    required: false 
    type: string 
  gsl_cxx_standard:
    required: false
    type: number
  extra_cmake_args:
    required: false
    type: string
    default: ''
  build_cmd:
    required: false 
    type: string 
    default: 'make'
  test_cmd:
    required: false
    type: string 
    default: 'make test'
  shell:
    required: false 
    type: string
    default: 'bash'


runs:
  using: composite
  steps:
    - name: Configure CMake (with preset)
      if: ${{ inputs.cmake_preset != '' }}
      run: cmake --preset ${{ inputs.cmake_preset }} -DCI_TESTING:BOOL=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -Werror=dev ${{ inputs.extra_cmake_args }}
      shell: ${{ inputs.shell }}

    - name: Create build directory (without preset)
      if: ${{ inputs.cmake_preset == '' }}
      run: mkdir build
      shell: ${{ inputs.shell }}

    - name: Configure CMake (without preset)
      if: ${{ inputs.cmake_preset == '' }}
      working-directory: build
      run: cmake -G "${{ inputs.cmake_generator }}" -DCMAKE_BUILD_TYPE=${{ inputs.cmake_build_type }} -DCMAKE_CXX_COMPILER=${{ inputs.cmake_cxx_compiler }} -DGSL_CXX_STANDARD=${{ inputs.gsl_cxx_standard }} -DCI_TESTING:BOOL=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -Werror=dev ${{ inputs.extra_cmake_args }} ..
      shell: ${{ inputs.shell }}

    - name: Build (with preset)
      if: ${{ inputs.cmake_preset != '' }}
      run: cmake --build --preset ${{ inputs.cmake_preset }}
      shell: ${{ inputs.shell }}

    - name: Build (without preset)
      if: ${{ inputs.cmake_preset == '' }}
      working-directory: build
      run: ${{ inputs.build_cmd }}
      shell: ${{ inputs.shell }}

    - name: Test (with preset)
      if: ${{ inputs.cmake_preset != '' }}
      run: ctest --preset ${{ inputs.cmake_preset }} --output-on-failure --no-compress-output
      shell: ${{ inputs.shell }}

    - name: Test (without preset)
      if: ${{ inputs.cmake_preset == '' }}
      working-directory: build
      run: ${{ inputs.test_cmd }}
      shell: ${{ inputs.shell }} 

